<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <br>
    <br>
    <br>
    <br>
    <h1>Formative Portfolio I: Buffbus Maps Beginnings</h1>
    <%- include('../partials/footer') %>
</body>
</html>