<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <div id="map"></div>
    <!--Inject script to build map as 'data'-->
    <%- data %>
</body>
</html>