<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JpZmZlbmNrMSIsImEiOiJja281YTV5MGowZ3dmMm5tenJweWltZmF6In0.m0yftJ2Mn6x2YEhUKyJfsA';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [-105.258, 40.007], // starting position [lng, lat]
            zoom: 13.66 // starting zoom
        });
    </script>
</body>
</html>