<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
<body>
    <%- include('../partials/navbar') %>
    <div id='map'></div>
    <%- include('../partials/footer') %>
    <script>
        mapboxgl.accessToken = document.getElementById('mapBoxToken');
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v9',
            center: [40.009, -105.258],
            zoom: 13.64
        });
    </script>
</body>
</html>