<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
<body>
    <%- include('../partials/navbar') %>
    <div id='map'></div>
    <%- include('../partials/footer') %>
    <script>
        console.log(document.getElementById('mapBoxToken'));
    </script>
</body>
</html>