<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <div id="map"></div>
    <!--Inject script to build map as 'data'-->
    <% if (mapBoxToken && locations) { %>
        <script>
            mapBoxToken = JSON.parse('<%- JSON.stringify(mapBoxToken) %>');
            style = JSON.parse('<%- JSON.stringify(style) %>');

            mapboxgl.accessToken = mapBoxToken;
            var map = new mapboxgl.Map({
                container: 'map',
                style: style,
                    center: [-105.258, 40.007],
                    zoom: 13.66
            });
        </script>
    <% } %>
</body>
</html>