<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
<body>
    <div id='map'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JpZmZlbmNrMSIsImEiOiJja281YTV5MGowZ3dmMm5tenJweWltZmF6In0.m0yftJ2Mn6x2YEhUKyJfsA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v9',
            center: [40.009, -105.258],
            zoom: 13.64
        });
    </script>
</body>
</html>